.content {
    display:flex;
    justify-content:center;    
}
.role {
    display:flex;
    justify-content:center;
}
.parent {
  width: 80vw;
  height: 100vh;
  position: relative;

}
.child{
  width: 60vw;
  height: 60vh;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-30%,-20%);
}


.letters {
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: 0.4rem;
    color:#9cffec;
    text-transform: uppercase;
  }
 
  
  .typed-text{
    
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.4rem;
    color:#fff;
    text-transform: uppercase;
  }
