.animate_link {
    display: inline-block;
    position: relative;
   
  }
  .animate_link.active{
    
  }
  .animate_link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fac654!important;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .animate_link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .sticky-nav {
    position: sticky !important;
    top: 0;
  }

  .mynav{
    background-color: transparent !important;
    
  }

  .mynav a{
    color : #fff !important;
    
  }
  .mynav a.active{
    color: #fac654 !important;
  }

 .mynav1{
  background-color: ghostwhite !important;
 }
  .mynav1 a{
    
    color : #10375d !important;
   
  }
  .mynav1 a.active{
    border-bottom: 5px solid #10375d;
    padding-bottom: 3px;
    
    
  }

  .blacktoggle{
    color:#10375d !important;
    
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: url("../img/hambergur.png") !important;

}


.navbar-dark .navbar-toggler {
    
    border-color: transparent !important;
}

@media only screen and (max-width: 600px) {
  .toggleBtn {
    position: fixed;
    top : 4%;
    right: 2%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1024px) {
  .logo {
    width: 80% !important;
  }
  #basic-navbar-nav{
    width: 100% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  .logo {
    width: 100% !important;
  }
  #basic-navbar-nav{
    width: 100% !important;
  }
 
}

.toggledNav{
  background-color: ghostwhite !important;
}
.toggledNav a{
    
  color : #10375d !important;
  font-weight: bold !important;
}
.toggledNav a.active{
  border-bottom: 5px solid #10375d;
  padding-bottom: 3px;
  
  
}


@media only screen and (max-width: 600px) {
  .tech_name {
    font-size: 1.8rem;
  }
}


@media only screen and (max-width: 768px) {
  .tech_name {
    font-size: 1.2rem;
  }
}


